@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #212121;
  color: #cfcfcf;
}

/* Text */
h1 {
  @apply text-6xl font-black tracking-tight;
}

h3 {
  @apply text-lg font-normal;
}

/* Input */

input {
  @apply text-[15px] font-light;
  outline: none;
  background-color: transparent;
  width: 100%;
}

.focus-div:focus-within {
  @apply outline outline-1 outline-gray-300;
}
